/* Estilo global para o corpo */
body {
  margin: 0;
  padding: 0;
  background-color: #faeaf2;
  font-family: 'Times New Roman', Times, serif, sans-serif;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  text-align: center;
  padding: 20px 0px;
  z-index: 1000; 
}

/* Estilo da lista de navegação */
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilo dos itens da lista de navegação */
.nav-list li {
  display: inline;
  margin: 0 30px;
}

/* Estilo dos links da lista de navegação */
.nav-list a {
  text-decoration: none;
  color: #fff;
  font-size: 23px;
}

/* Estilo da barra de navegação quando a página é rolada (classe 'scrolled') */
.nav.scrolled {
  background-color: #de4c92;
}

/* Estilo global para elementos com classe 'geral' */
.geral {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

/* Estilo global para elementos de áudio */
audio {
  z-index: 999; 
}

/* Estilo para cabeçalho (h2) */
h2 {
  font-size: 24px;
  color: #470923;
}

/* Estilo para imagens  */
img {
  border-radius: 50%;
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

/* Estilo para parágrafos */
p {
  font-size: 18px;
  color: #470923;
  max-width: 600px;
  display: block;
  text-align: justify;
  padding: 20px;
  border: 3px solid #000000;
  margin: 0 auto;
}

/* Estilo para listas de projetos  */
.projetos-lista li {
  list-style-type: none;
}

/* Estilo para o formulário de contato (#contato-form) */
#contato-form {
  margin: 0 auto;
  max-width: 600px;
}

/* Estilo para etiquetas (labels) do formulário (#contato-form label) */
#contato-form label {
  display: block;
  font-size: 18px;
  color: #470923;
}

/* Estilo para campos de entrada de texto e email (#contato-form input[type="text"], #contato-form input[type="email"]) */
#contato-form input[type="text"],
#contato-form input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 3px solid #000000;
  border-radius: 5px;
}

/* Estilo para o campo de texto (#contato-form textarea) */
#contato-form textarea {
  min-height: 150px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 3px solid #000000;
  border-radius: 5px;
}

/* Estilo para o botão de envio do formulário (#contato-form button) */
#contato-form button {
  background-color: #470923;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo do botão de envio do formulário ao passar o mouse (hover) */
#contato-form button:hover {
  background-color: #de4c92;
  color: #470923;
}

/* Estilo para parágrafos no rodapé */
.footer-para {
  color: #fff;
  text-align: center;
}

/* Estilo do rodapé (footer) */
.footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 1px 1px;
}