body {
  margin: 0;
  padding: 0;
  background-color:#faeaf2;
  font-family: 'Times New Roman', Times, serif, sans-serif;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  text-align: center;
  padding: 20px 0px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  display: inline;
  margin: 0 30px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-size: 23px;
}

.nav.scrolled {
  background-color: #de4c92;
}

.content {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

h2 {
  font-size: 24px;
  color: #470923
}

img {
  border: 3px;
  border-radius: 50%;
  max-width: 250px; /* Aumenta o tamanho da imagem */
  display: inline-block;
  margin: 0 auto;
}

p {
  font-size: 18px;
  color: #470923;
  max-width: 600px; /* Largura máxima do texto */
  display: block; /* Alterado para block para justificar o texto */
  text-align: justify; /* Justifica o texto */
  padding: 20px; /* Adiciona um espaçamento interno */
  border: 3px solid #000000; /* Borda rosa */
  margin: 0 auto;
}

.footer-para {
  color: #fff;
  text-align: center;
}

.footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 1px 1px;
}


#scrollTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  background-color: #470923;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#scrollTopButton:hover {
  background-color: #faeaf2;
  color: #470923;
}
